<!DOCTYPE HTML>
<html lang="en_US" xmlns:th="http://www.thymeleaf.org">
<head>
<title>login</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Personal Login Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Meta tag Keywords -->

<!-- css files -->
<link rel="stylesheet" th:href="@{/login/css/style.css}" type="text/css" media="all" /> <!-- Style-CSS -->
<link rel="stylesheet" th:href="@{/login/css/font-awesome.css}"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" th:href="@{/login/css/main.css}"> <!-- Font-Awesome-Icons-CSS -->
	<!-- //css files -->

<!-- online-fonts -->
<!-- //online-fonts -->
</head>
<body>
<!--header-->
	<div class="header-w3l">
		<h1 th:text="#{login.head}">Talking is cheap,show me the code!</h1>
	</div>
<!--//header-->

<!--main-->
<div id="app" class="main-content-agile">
	<div class="sub-main-w3">	
		<div class="wthree-pro">
			<h2 style="color: red;display: inline;" th:text="#{login.while}">while</h2><h2 style="display: inline">(</h2><h2 style="color: green;display: inline;" th:text="#{login.true}">true</h2><h2 style="display: inline">){</h2><h2>
			<h2 style="margin-top: -8%" th:text="#{login.eat}">eat();</h2>
			<h2 style="margin-top: -8%" th:text="#{login.code}">code();</h2>
			<h2 style="margin-top: -8%" th:text="#{login.sleep}">sleep();</h2>
			<h2 style="margin-top: -8%;margin-left: -28%">}</h2></h2>
		</div>
		<form id="loginForm" action="/userLogin" method="post">
		<span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span><br><br>
			<input th:placeholder="#{login.Username}" id="userName" name="userName" autocomplete="off" class="inputText" type="text" required="">
			<input  type="text" name="cip" id="cip" style="display: none">
			<input  th:placeholder="#{login.Password}" id="password" name="password" class="inputText" type="password" required="">
			<span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span><br>
			<div class="sub-w3l">
				<span><input type="checkbox" />[[#{login.remPwd}]]</span>
				<div class="right-w3l">
					<input id="loginBtn"  type="button" th:value="#{login.signin}">
				</div>
			</div>
		</form>
	</div>
</div>
<!--//main-->

<!--footer-->
<div class="footer" style="margin-top: 145px">
	<p>&copy; 2020-3-21 [[#{login.loginhtml}]] lx</p>
	<br>
	<p><a th:href="@{/login(l='en_US')}">English </a>|<a th:href="@{/login(l='zn_CN')}"> 中文</a></p>
</div>
<!--//footer-->
<h2 id="canNotNull" th:text="#{login.canNotNull}"></h2>
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.js}"></script>
<script src="http://pv.sohu.com/cityjson"></script>
<script type="text/javascript" th:src="@{/Tool.js}"></script>
<script type="text/javascript" th:src="@{/login/js/jquery.md5.js}"></script>
<script type="text/javascript" th:src="@{/login/js/main.js}"></script>

</body>
</html>